
.pent {
    /* background-image: url("../public/images/bg-pentagon.svg"); */
}

.iconHold {
    display: block;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.scissors {
    transform: translateY(-35px);
}

.Img {
    transform: translateY(5px);
}

.spock{
    transform: translateX(-15px);
}

.paper {
    transform: translateX(15px);
}

.lizard {
    transform: translateX(20px);
}

.rock {
    transform: translateX(-20px);
}